//Backgrounds
$black1: #1e2126;
$black2: #2b2b2c;
$black3: #151518;
$black4: #464b52;
//FontColor
$whiteFont: #eaedf2;
//Buttons
$succButton: #00a9c4;
$succButtonHover: #08cceb;
//
$errorButton: rgb(155, 6, 6);
$errorButtonHover: rgb(201, 30, 30);
//
$facebook: #345eb9;
$google: #c4402f;
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//Fonts
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//Normalize
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
//
html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//Others
//Notification toast animation
.toast {
  position: fixed;
  font-size: 2rem;
  margin: 0;
  z-index: 2;
  color: $whiteFont;
  padding: 1rem;
  // top: -5rem;
  right: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.show-up-toast {
  animation: show-up-toast 0.5s;
}
.success {
  background-color: green;
}
.error {
  background-color: $errorButton;
}
.restore-courses-buton {
  font-size: 4rem;
  color: $errorButton;
  background-color: transparent;
  border-color: $errorButton;
  border-radius: 9rem;
  cursor: pointer;
  margin: 4rem 0;
  transition: all 0.3s;
  min-width: 70vw;
}
.restore-courses-buton:hover {
  border-color: $errorButtonHover;
  color: $errorButtonHover;
}
@keyframes show-up-toast {
  0% {
    transform: translateY(-5rem);
  }
  100% {
    transform: translateY(0);
  }
}
//Trash can animation
@keyframes trash-bin {
  0% {
    transform: rotate(25deg);
  }
  25% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(25deg);
  }
  75% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(25deg);
  }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//HEADER
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $black1;
  font-size: 2.5rem;

  .logo {
    display: flex;
    align-items: center;
    margin: 0;

    h1 {
      color: $whiteFont;
      cursor: default;
      font-family: "DM Serif Display", serif;
      margin: 0;
    }

    img {
      width: 80%;
      height: auto;
    }
  }

  .cart {
    ul {
      list-style: none;

      .cart-submenu {
        position: relative;

        i {
          color: #464b52;
        }

        #cart {
          display: none;

          #cart-list {
            font-size: 2rem;
            font-weight: normal;
          }
        }
      }

      .cart-submenu:hover #cart {
        display: block;
        position: absolute;
        color: $whiteFont;
        right: 0;
        top: 100%;
        z-index: 1;
        background-color: #16191c;
        padding: 2rem;
        min-height: 40rem;
        min-width: 30rem;

        table {
          text-align: center;

          thead {
            tr {
              height: 5rem;
            }
          }

          tbody {
            tr {
              height: 5rem;

              td {
                font-size: 2rem;
                text-align: center;

                img {
                  width: 100%;
                  height: auto;
                }

                button {
                  background-color: transparent;
                  border-color: transparent;
                  cursor: pointer;
                  transition: all 0.3s;
                }

                button:hover {
                  animation: trash-bin 1s linear infinite;
                }
              }
            }
          }
        }
        p {
          span {
            font-size: 3rem;
          }
        }

        button {
          margin: 0.5rem 0;
          font-size: 2rem;
          transition: all 0.3s;
        }

        .reset-btn {
          width: 100%;
          background-color: transparent;
          color: red;
          border-radius: 0;
          padding: 1rem;
          border-color: red;
          cursor: pointer;
        }

        .pay-btn {
          width: 100%;
          background-color: #00a9c4;
          border-radius: 0%;
          padding: 1rem;
          border-color: #00a9c4;
          display: none;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: white;
          width: 100%;
          cursor: pointer;
        }

        .pay-btn:hover {
          background-color: #08cceb;
          border-color: #08cceb;
        }
      }
    }
  }
}
//NAV
.nav-search {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: sticky;
  top: 0;
  background-color: $black4;
  color: $whiteFont;

  .nav-search-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;

    input {
      border-radius: 9rem 0 0 9rem;
      border: 3px solid black;
      border-right: 0;
    }

    button {
      border-radius: 0 9rem 9rem 0;
      border: 3px solid black;
      height: 3.2rem;
      background-color: $black2;
      cursor: pointer;
      transition: all 0.3s;

      i {
        color: red;
      }
    }

    button:hover {
      background-color: black;
    }
  }
}
//MAIN
main {
  background-color: $black3;
  .hero {
    background: linear-gradient(
      90deg,
      rgba(0, 61, 172, 1) 0%,
      rgba(0, 158, 177, 1) 100%
    );
    img {
      width: 100%;
      max-height: 80vh;
      object-fit: cover;
    }
    .hero-bar {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: linear-gradient(
        90deg,
        rgba(0, 61, 172, 1) 0%,
        rgba(0, 158, 177, 1) 100%
      );
      .hero-bar-quote {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.5rem;
        margin: 0;
        padding: 1rem;
        text-align: center;
        color: $whiteFont;
        i {
          font-size: 2rem;
          margin-right: 2rem;
        }
        h3 {
          margin: 0;
        }
        h4 {
          margin: 0;
        }
      }
    }
  }

  .courses {
    width: 80%;
    max-width: 90rem;
    margin: 0 auto;
    h2 {
      text-align: center;
      font-size: 5rem;
      color: $whiteFont;
    }
    .courses-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      .courses-card {
        margin: 1.5rem;
        color: $whiteFont;

        .courses-card-info {
          padding: 1rem;
          background-color: $black2;
          h3 {
            font-size: 2.25rem;
            margin: 0;
          }
          h4 {
            font-size: 1.75rem;
          }

          .courses-card-info-price {
            display: flex;
            justify-content: space-around;
            align-items: center;
            p {
              font-size: 2.5rem;
              text-decoration: line-through;
            }
            h3 {
              color: red;
              font-size: 4rem;
            }
          }

          button {
            width: 100%;
            padding: 1rem;
            background-color: $succButton;
            border: 0px;
            color: $whiteFont;
            font-weight: bold;
            cursor: pointer;
            font-size: 2rem;
            transition: all 0.3s;
          }
          button:hover {
            background-color: $succButtonHover;
          }
        }
      }
    }
  }

  .confirm {
  }

  .done {
  }
}
//FOOTER
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: $black1;
  font-size: 2rem;

  ul {
    list-style: none;

    li {
      margin: 1.5rem 0;

      a {
        color: $whiteFont;
        text-decoration: none;
      }
    }
  }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//MQ

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
