@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

.toast {
  position: fixed;
  font-size: 2rem;
  margin: 0;
  z-index: 2;
  color: #eaedf2;
  padding: 1rem;
  right: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.show-up-toast {
  animation: show-up-toast 0.5s;
}

.success {
  background-color: green;
}

.error {
  background-color: #9b0606;
}

.restore-courses-buton {
  font-size: 4rem;
  color: #9b0606;
  background-color: transparent;
  border-color: #9b0606;
  border-radius: 9rem;
  cursor: pointer;
  margin: 4rem 0;
  transition: all 0.3s;
  min-width: 70vw;
}

.restore-courses-buton:hover {
  border-color: #c91e1e;
  color: #c91e1e;
}

@keyframes show-up-toast {
  0% {
    transform: translateY(-5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes trash-bin {
  0% {
    transform: rotate(25deg);
  }
  25% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(25deg);
  }
  75% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(25deg);
  }
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1e2126;
  font-size: 2.5rem;
}
header .logo {
  display: flex;
  align-items: center;
  margin: 0;
}
header .logo h1 {
  color: #eaedf2;
  cursor: default;
  font-family: "DM Serif Display", serif;
  margin: 0;
}
header .logo img {
  width: 80%;
  height: auto;
}
header .cart ul {
  list-style: none;
}
header .cart ul .cart-submenu {
  position: relative;
}
header .cart ul .cart-submenu i {
  color: #464b52;
}
header .cart ul .cart-submenu #cart {
  display: none;
}
header .cart ul .cart-submenu #cart #cart-list {
  font-size: 2rem;
  font-weight: normal;
}
header .cart ul .cart-submenu:hover #cart {
  display: block;
  position: absolute;
  color: #eaedf2;
  right: 0;
  top: 100%;
  z-index: 1;
  background-color: #16191c;
  padding: 2rem;
  min-height: 40rem;
  min-width: 30rem;
}
header .cart ul .cart-submenu:hover #cart table {
  text-align: center;
}
header .cart ul .cart-submenu:hover #cart table thead tr {
  height: 5rem;
}
header .cart ul .cart-submenu:hover #cart table tbody tr {
  height: 5rem;
}
header .cart ul .cart-submenu:hover #cart table tbody tr td {
  font-size: 2rem;
  text-align: center;
}
header .cart ul .cart-submenu:hover #cart table tbody tr td img {
  width: 100%;
  height: auto;
}
header .cart ul .cart-submenu:hover #cart table tbody tr td button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}
header .cart ul .cart-submenu:hover #cart table tbody tr td button:hover {
  animation: trash-bin 1s linear infinite;
}
header .cart ul .cart-submenu:hover #cart p span {
  font-size: 3rem;
}
header .cart ul .cart-submenu:hover #cart button {
  margin: 0.5rem 0;
  font-size: 2rem;
  transition: all 0.3s;
}
header .cart ul .cart-submenu:hover #cart .reset-btn {
  width: 100%;
  background-color: transparent;
  color: red;
  border-radius: 0;
  padding: 1rem;
  border-color: red;
  cursor: pointer;
}
header .cart ul .cart-submenu:hover #cart .pay-btn {
  width: 100%;
  background-color: #00a9c4;
  border-radius: 0%;
  padding: 1rem;
  border-color: #00a9c4;
  display: none;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 100%;
  cursor: pointer;
}
header .cart ul .cart-submenu:hover #cart .pay-btn:hover {
  background-color: #08cceb;
  border-color: #08cceb;
}

.nav-search {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: sticky;
  top: 0;
  background-color: #464b52;
  color: #eaedf2;
}
.nav-search .nav-search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.nav-search .nav-search-input input {
  border-radius: 9rem 0 0 9rem;
  border: 3px solid black;
  border-right: 0;
}
.nav-search .nav-search-input button {
  border-radius: 0 9rem 9rem 0;
  border: 3px solid black;
  height: 3.2rem;
  background-color: #2b2b2c;
  cursor: pointer;
  transition: all 0.3s;
}
.nav-search .nav-search-input button i {
  color: red;
}
.nav-search .nav-search-input button:hover {
  background-color: black;
}

main {
  background-color: #151518;
}
main .hero {
  background: linear-gradient(90deg, #003dac 0%, #009eb1 100%);
}
main .hero img {
  width: 100%;
  max-height: 80vh;
  object-fit: cover;
}
main .hero .hero-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, #003dac 0%, #009eb1 100%);
}
main .hero .hero-bar .hero-bar-quote {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: #eaedf2;
}
main .hero .hero-bar .hero-bar-quote i {
  font-size: 2rem;
  margin-right: 2rem;
}
main .hero .hero-bar .hero-bar-quote h3 {
  margin: 0;
}
main .hero .hero-bar .hero-bar-quote h4 {
  margin: 0;
}
main .courses {
  width: 80%;
  max-width: 90rem;
  margin: 0 auto;
}
main .courses h2 {
  text-align: center;
  font-size: 5rem;
  color: #eaedf2;
}
main .courses .courses-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
main .courses .courses-container .courses-card {
  margin: 1.5rem;
  color: #eaedf2;
}
main .courses .courses-container .courses-card .courses-card-info {
  padding: 1rem;
  background-color: #2b2b2c;
}
main .courses .courses-container .courses-card .courses-card-info h3 {
  font-size: 2.25rem;
  margin: 0;
}
main .courses .courses-container .courses-card .courses-card-info h4 {
  font-size: 1.75rem;
}
main .courses .courses-container .courses-card .courses-card-info .courses-card-info-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .courses .courses-container .courses-card .courses-card-info .courses-card-info-price p {
  font-size: 2.5rem;
  text-decoration: line-through;
}
main .courses .courses-container .courses-card .courses-card-info .courses-card-info-price h3 {
  color: red;
  font-size: 4rem;
}
main .courses .courses-container .courses-card .courses-card-info button {
  width: 100%;
  padding: 1rem;
  background-color: #00a9c4;
  border: 0px;
  color: #eaedf2;
  font-weight: bold;
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.3s;
}
main .courses .courses-container .courses-card .courses-card-info button:hover {
  background-color: #08cceb;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1e2126;
  font-size: 2rem;
}
footer ul {
  list-style: none;
}
footer ul li {
  margin: 1.5rem 0;
}
footer ul li a {
  color: #eaedf2;
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
